
<p>
  <a href="www.google.com.br" lib-button>Button Link</a>
</p>

<p>
  <a href="http://www.google.com.br" lib-button type="button" typeStyle="primary.normal.light">Primary Button Link</a>
</p>

<p>
  <button lib-button type="button" typeStyle="primary.normal.light">Primary Button</button>
</p>

<p>
  <button lib-button type="button" typeStyle="primary.normal.light" disabled="true">Primary Button Disabled</button>
</p>

<p>
  <lib-button type="button" typeStyle="primary.normal.light" disabled="true">Primary Button Disabled</lib-button>
</p>

<p>
  <button (click)="setLoad()">Mudar</button>
  <lib-button type="button" typeStyle="primary.normal.light" disabled="false" [load]="isLoad">Primary Button load</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="secondary.normal.light" disabled="true">Second Button</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="primary.normal.light" icon="visibility">Primary Button Icon</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="secondary.normal.light" icon="home">Second Button Icon</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="secondary.normal.light" icon="home" totalFilter="1" [load]="isLoad">Second Button Icon</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="primary.small.light" icon="home" [load]="isLoad">Second Button Icon</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="secondary.small.light" icon="home" totalFilter="1">Second Button Icon</lib-button>
</p>

<p style="background: rgb(77, 98, 229); padding: 15px 0">
  <lib-button type="button" typeStyle="primary.normal.dark" icon="home" totalFilter="1" [load]="isLoad">Primary Button Icon</lib-button>
</p>

<p style="background: rgb(77, 98, 229); padding: 15px 0">
  <lib-button type="button" typeStyle="primary.normal.dark" icon="home" totalFilter="1" disabled="true">Primary Button Icon</lib-button>
</p>

<p style="background: rgb(77, 98, 229); padding: 15px 0">
  <lib-button type="button" typeStyle="secondary.normal.dark" icon="home" totalFilter="1" disabled="false" [load]="isLoad">Second Button Icon</lib-button>
</p>

<p style="background: rgb(77, 98, 229); padding: 15px 0">
  <lib-button type="button" typeStyle="secondary.normal.dark" icon="home" totalFilter="1" disabled="true">Second Button Icon</lib-button>
</p>

<p style="background: rgb(77, 98, 229); padding: 15px 0">
  <lib-button type="button" typeStyle="primary.small.dark" icon="home" totalFilter="1" disabled="false">Second Button Icon</lib-button>
</p>

<p style="background: rgb(77, 98, 229); padding: 15px 0">
  <lib-button type="button" typeStyle="secondary.small.dark" icon="home" totalFilter="1" disabled="true">Second Button Icon</lib-button>
</p>
