<p>
  <a href="www.google.com.br" lib-button>Button Link</a>
</p>

<p>
  <a href="http://www.google.com.br" lib-button type="button" typeStyle="primary.normal">Primary Button Link</a>
</p>

<p>
  <button lib-button type="button" typeStyle="primary.normal">Primary Button</button>
</p>

<p>
  <button lib-button type="button" typeStyle="primary.normal" disabled="true">Primary Button Disabled</button>
</p>

<p>
  <lib-button type="button" typeStyle="primary.normal" disabled="true">Second Button Disabled</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="secondary.normal">Second Button</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="primary.normal" icon="visibility">Primary Button Icon</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="secondary.normal" icon="home">Second Button Icon</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="secondary.normal" icon="home" totalFilter="1">Second Button Icon</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="primary.small" icon="home">Second Button Icon</lib-button>
</p>

<p>
  <lib-button type="button" typeStyle="secondary.small" icon="home" totalFilter="1">Second Button Icon</lib-button>
</p>
