<p>
  <a href="www.google.com.br" lib-button>Button Link</a>
</p>

<p>
  <a href="http://www.google.com.br" lib-button buttonType="primary">Primary Button Link</a>
</p>

<p>
  <button lib-button buttonType="primary">Primary Button</button>
</p>

<p>
  <lib-button buttonType="second">Second Button</lib-button>
</p>

<p>
  <lib-button buttonType="primary" buttonIcon="visibility">Primary Button Icon</lib-button>
</p>

<p>
  <lib-button buttonType="second" buttonIcon="home">Second Button Icon</lib-button>
</p>

<p>
  <lib-button buttonType="second" buttonIcon="home" buttonTotalFilter="1">Second Button Icon</lib-button>
</p>
